<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Unit Converter</title>
        <!-- {% load static %} -->
        <link href="{% static 'unitconverter_app/style.css' %}" rel="stylesheet">
        <!-- <link href="../../statics/unitconverter_app/style.css" rel="stylesheet"> -->
        <!-- <s href="{% static 'unitconverter_app/style.css' %}" rel="stylesheet"> -->
    </head>
    <body>
        <div class="tabs">
            <!-- tablist is aria role that acts as a container for tab role elements. -->
            <div role="tablist">
                <button role="tab"
                        aria-selected="true"
                        aria-controls="tab-panel-len"
                        id="tab-len">Length</button>
                <button role="tab"
                        aria-selected="false"
                        aria-controls="tab-panel-temp"
                        id="tab-temp">Temperature</button>
                <button role="tab"
                        aria-selected="false"
                        aria-controls="tab-panel-weight"
                        id="tab-weight">Weight</button>
                <button role="tab"
                        aria-selected="false"
                        aria-controls="tab-panel-speed"
                        id="tab-speed">Speed</button>
                <button role="tab"
                        aria-selected="false"
                        aria-controls="tab-panel-time"
                        id="tab-time">Time</button>
            </div>
            <div role="tabpanel" aria-labelledby="tab-len" id="tab-panel-len">
                <form action="{% url 'unitconverter:result' %}"
                      class="form"
                      method="get"
                      autocomplete="off">
                    <div class="field">
                        <label for="len-num-input">Enter a number:</label>
                        <input type="number" name="input-num" id="len-num-input">
                    </div>
                    <div class="field">
                        <label for="len-convert-from-list">Select a unit to convert from:</label>
                        <select name="convert-from" id="len-convert-from-list">
                            <option value="None">None</option>
                            <option value="m">Meters</option>
                            <option value="km">KiloMeters</option>
                            <option value="cm">CentiMeters</option>
                            <option value="inch">Inches</option>
                            <option value="feet">Feets</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="len-convert-to-list">Select a unit to convert to:</label>
                        <select name="convert-to" id="len-convert-to-list">
                            <option value="None">None</option>
                            <option value="m">Meters</option>
                            <option value="km">KiloMeters</option>
                            <option value="cm">CentiMeters</option>
                            <option value="inch">Inches</option>
                            <option value="feet">Feets</option>
                        </select>
                    </div>
                    <button class="submit-button"
                            type="submit"
                            name="conversion-type"
                            value="length">Submit</button>
                </form>
            </div>
            <div role="tabpanel" aria-labelledby="tab-temp" id="tab-panel-temp" hidden>
                <form action="{% url 'unitconverter:result' %}"
                      class="form"
                      method="get"
                      autocomplete="off">
                    <div class="field">
                        <label for="temp-num-input">Enter a number:</label>
                        <input type="number" name="input-num" id="temp-num-input">
                    </div>
                    <div class="field">
                        <label for="temp-convert-from-list">Select a unit to convert from:</label>
                        <select name="convert-from" id="temp-convert-from-list">
                            <option value="None">None</option>
                            <option value="k">Kelvin</option>
                            <option value="c">Celsius</option>
                            <option value="f">Fahrenheit</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="temp-convert-to-list">Select a unit to convert to:</label>
                        <select name="convert-to" id="temp-convert-to-list">
                            <option value="None">None</option>
                            <option value="k">Kelvin</option>
                            <option value="c">Celsius</option>
                            <option value="f">Fahrenheit</option>
                        </select>
                    </div>
                    <button class="submit-button"
                            type="submit"
                            name="conversion-type"
                            value="temperature">Submit</button>
                </form>
            </div>
            <div role="tabpanel"
                 aria-labelledby="tab-weight"
                 id="tab-panel-weight"
                 hidden>
                <form action="{% url 'unitconverter:result' %}"
                      class="form"
                      method="get"
                      autocomplete="off">
                    <div class="field">
                        <label for="weight-num-input">Enter a number:</label>
                        <input type="number" name="input-num" id="weight-num-input">
                    </div>
                    <div class="field">
                        <label for="weight-convert-from-list">Select a unit to convert from:</label>
                        <select name="convert-from" id="weight-convert-from-list">
                            <option value="None">None</option>
                            <option value="g">Gram</option>
                            <option value="kg">KiloGram</option>
                            <option value="mg">MiliGram</option>
                            <option value="lb">Pound</option>
                            <option value="oz">Ounce</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="weight-convert-to-list">Select a unit to convert to:</label>
                        <select name="convert-to" id="weight-convert-to-list">
                            <option value="None">None</option>
                            <option value="g">Gram</option>
                            <option value="kg">KiloGram</option>
                            <option value="mg">MiliGram</option>
                            <option value="lb">Pound</option>
                            <option value="oz">Ounce</option>
                        </select>
                    </div>
                    <button class="submit-button"
                            type="submit"
                            name="conversion-type"
                            value="weight">Submit</button>
                </form>
            </div>
            <div role="tabpanel"
                 aria-labelledby="tab-speed"
                 id="tab-panel-speed"
                 hidden>
                <form action="{% url 'unitconverter:result' %}"
                      class="form"
                      method="get"
                      autocomplete="off">
                    <div class="field">
                        <label for="speed-num-input">Enter a number:</label>
                        <input type="number" name="input-num" id="speed-num-input">
                    </div>
                    <div class="field">
                        <label for="speed-convert-from-list">Select a unit to convert from:</label>
                        <select name="convert-from" id="speed-convert-from-list">
                            <option value="None">None</option>
                            <option value="mps">Meter/Sec</option>
                            <option value="kmph">KiloMeter/Sec</option>
                            <option value="mph">Miles/Hr</option>
                            <option value="knots">Knots</option>
                            <option value="mach">Mach</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="speed-convert-to-list">Select a unit to convert to:</label>
                        <select name="convert-to" id="speed-convert-to-list">
                            <option value="None">None</option>
                            <option value="mps">Meter/Sec</option>
                            <option value="kmph">KiloMeter/Sec</option>
                            <option value="mph">Miles/Hr</option>
                            <option value="knots">Knots</option>
                            <option value="mach">Mach</option>
                        </select>
                    </div>
                    <button class="submit-button"
                            type="submit"
                            name="conversion-type"
                            value="speed">Submit</button>
                </form>
            </div>
            <div role="tabpanel" aria-labelledby="tab-time" id="tab-panel-time" hidden>
                <form action="{% url 'unitconverter:result' %}"
                      class="form"
                      method="get"
                      autocomplete="off">
                    <div class="field">
                        <label for="time-num-input">Enter a number:</label>
                        <input type="number" name="input-num" id="time-num-input">
                    </div>
                    <div class="field">
                        <label for="time-convert-from-list">Select a unit to convert from:</label>
                        <select name="convert-from" id="time-convert-from-list">
                            <option value="None">None</option>
                            <option value="s">Second</option>
                            <option value="min">Minute</option>
                            <option value="hr">Hour</option>
                            <option value="day">Day</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="time-convert-to-list">Select a unit to convert to:</label>
                        <select name="convert-to" id="time-convert-to-list">
                            <option value="None">None</option>
                            <option value="s">Second</option>
                            <option value="min">Minute</option>
                            <option value="hr">Hour</option>
                            <option value="day">Day</option>
                        </select>
                    </div>
                    <button class="submit-button"
                            type="submit"
                            name="conversion-type"
                            value="time">Submit</button>
                </form>
            </div>
        </div>
        <script src="{% static 'unitconverter_app/tabs.js' %}"></script>
    </body>
</html>
